@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
}
.header{
    background: #333;
    padding: 30px 0;
}
.header h1{
    font-size: 2.3em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}

.curve-box{
    max-width: 100%;
    width:95%;
    margin: 10px 0;
    padding: 30px 10px;
    border-radius: 8px;
    display: block;
    background: gold;
}

.curve-box button{
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    margin-left: 20px;
   
    cursor: pointer; 
    transition: width 0.5s;
}
.curve-box label{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.title-area{
    border: none;
    background: gainsboro;
    padding: 5px 2px;
    border-radius: 5px;
    margin-left: 10px;
}
.text-area{
    position: relative;
    top: 10px;
    margin-left: 10px;
}

@media  (min-width:700px) {
    .curve-box{
        max-width: 100%;
        width: 32%;
        position: absolute;
        right: 30px;
        padding-right: 50px;
    }
    .curve-box h4{
        margin: 10px 20px;
        color: black;
        text-align: left;
    }
    .curve-box label{
        color: black;
    
    }
 }
 